@media screen and (max-width: 650px) {
    #resp_box {
        width: 150px;
        height: 75px;
    }

    #resp_title {
        font-size: 32px;
    }

    #resp_director, #resp_direct-by, #resp_year {
        font-size: 14px;
    }

    #resp_runtime {
        font-size: 8px;
    }

    #resp_runtime-value {
        font-size: 14px;
    }

    #resp_details {
        flex-direction: column;
    }

    #resp_detail-box {
        width: 100%;
    }

    #resp_actor-score {
        flex-direction: column;
    }

    #resp_actor-wrap {
        width: 100%;
    }

    #resp_score-wrap {
        margin: 20px;
        width: 100%;
    }

    #resp_review-score {
        font-size: 48px;
    }

    #resp_trivia {
        width: 100%;
    }

    #resp_headline {
        overflow-wrap: break-word;
        font-size: 32px;
    }
    #resp_detail-title {
        font-size: 14px;
    }
    #resp_blurb-text {
        font-size: 16px;
    }
    #resp_trivia-text {
        font-size: 16px;
    }
    #resp_review-text {
        font-size: 16px;
    }

    
}

@media screen and (max-width: 900px) {
    #resp_detail-title {
        font-size: 10px;
    }
}

@media screen and (max-width: 750px) {
    #resp_detail-title {
        font-size: 8px;
    }
    #resp_review-wrap {
        width: 100%;
    }

}



.entire-box-wrapper {
    display: flex;
    flex-direction: column;
}

.movie-box-wrapper {
    width: 300px;
    height: 150px;
    border: 1px solid rgb(184, 86, 0);
    border-radius: 8px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    background-size: cover;
}

.movie-box-wrapper:hover {
    border: 4px dashed rgb(184, 86, 0);
    background-size: contain;
    background-position: center;
    transition: border 0.1s;
    transition-timing-function: ease-in;
}

#info-box-wrapper {
    width: 100%;
    height: 100%;
    display: none;
}

.mui-modal {
    width: 100%;
    height: 100%;
    display: flex;
    background-size: cover;
    /* filter: brightness(1.25); */
}

.close-modal {
    color: orangered;
    cursor: pointer;
    width: 50px;
    height: 50px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}


.modal-wrapper {
    color: white;
    width: 90%;
    height: 85%;
    padding: 50px;
    outline: none;
    text-align: center;
    overflow: scroll;
    margin: auto;
    
    /* GLASSMORPHISM CSS */
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.25);

    border-radius: 20px;
    border: 2px solid rgba(255,255,255, 0.5);
}

.trailer-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 12px;
}

.top-wrap {
    display: flex;
    width: 100%;
    align-items: center;

}

.iframe-container {
    position: relative;
    overflow: hidden;
    margin: auto;
    padding-top: 50%;
    border-radius: 12px;
}



.title-text {
    font-size: 60px;
    color: rgb(255, 0, 162);
    text-align: center;
    width: 80%;
    margin: 20px auto;
}

.det-bar-wrapper {
    width: 75%;
    height: 75px;
    margin: 50px auto 25px auto;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.25);
    display: flex;
    flex-direction: row;
}

.year-wrap {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background-color: rgba(255, 255, 255, 0.05);
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-radius: 12px 0px 0px 12px;
}

.director-wrap {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.directed-by {
    font-size: 20px;
    margin-right: 10px;
    color: rgba(125, 125, 125)
}

.runtime-wrap {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0px 12px 12px 0px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background-color: rgba(255, 255, 255, 0.05);
}

.runtime-text {
    margin: 5px 0 0 0;
}

.runtime-value {
    margin-top: 10px;
}

.details-wrapper {
    width: 75%;
    background-color: rgba(255, 255, 255, 0.05);
    margin: 20px auto;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
}

.detail-box {
    width: 20%;
    margin: 0;
}

.detail-title {
    color: red;
    font-weight: 700;
    font-size: 12px;
}

.actor_score-wrapper {
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.not_act-wrap {
    display: flex;
    flex-direction: column;
    width: 40%;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.05);
}

.not_act-title {
    color: red;
    margin: 5px auto;
    font-size: 14px;
}

.not_act-entries {
    margin: 10px auto;
    font-size: 18px;
}

.review_score-wrap {
    background-color: rgba(255, 255, 255, 0.15);
    border: 2px solid white;
    border-radius: 12px;
    width: 25%;
    margin-left: 20px;
}

.review_score-text {
    font-size: 60px;
}

.blurb-wrapper {
    width: 75%;
    margin: auto;
    border-radius: 12px;
    padding: 10px 20px;
}

.blurb-title {
    font-weight: 800;
}

.blurb-text {
    font-size: 24px;
}

.trivia-wrapper {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 20px auto;
    padding: 10px;
    border-radius: 12px;
}

.trivia-title {
    color: red;
}

.trivia-text {
    font-size: 24px;
}

.review-wrapper {
    width: 75%;
    margin: 50px auto 25px auto;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.05);
    padding: 10px 20px;
    border-radius: 12px;
}

.review-headline {
    font-size: 48px;
    text-align: center;
}

.review-text {
    text-align: justify;
    font-size: 20px;
}

.review_score-text {
    color: rgb(255, 0, 255);
}

::-webkit-scrollbar {
    width: 10px;
    background: rgb(255, 255, 255, 0);
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: rgb(225, 225, 225);
    border-radius: 15px;
}

::-webkit-scrollbar-track {
    margin: 50px 0px;
}

::-webkit-scrollbar-corner {
    display: none;
}