.entire-box-wrapper {
    display: flex;
    flex-direction: column;
}

.movie-box-wrapper {
    min-width: 300px;
    max-width: 300px;
    height: 150px;
    border: 1px solid rgb(184, 86, 0);
    border-radius: 8px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    background-size: cover;
}

.movie-box-wrapper:hover {
    border: 4px dashed rgb(184, 86, 0);
    background-size: contain;
    background-position: center;
    transition: border 0.1s;
    transition-timing-function: ease-in;
}

#info-box-wrapper {
    width: 100%;
    height: 100%;
    display: none;
}

.mui-modal {
    width: 100%;
    height: 100%;
    display: flex;
    background-size: cover;
    filter: brightness(1.5);
}

.close-modal {
    color: orangered;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 0px 0px 30px auto;
}


.modal-wrapper {
    color: white;
    width: 70%;
    height: 85%;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid white;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    overflow: scroll;
    outline: none;
}

.trailer-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 12px;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    margin: auto;
    padding-top: 50%;
    border-radius: 12px;
}

.title-wrapper {
    width: 80%;
    margin: auto;
}

.title-text {
    font-size: 60px;
    color: rgb(255, 0, 162);
}

.director-text {
    font-size: 30px;
}

.year-text {
    font-size: 30px;
}

.trivia-text {
    font-size: 24px;
    border: 4px double red;
    padding: 20px;
    border-radius: 12px;
}

.detail-wrapper {
    width: 80%;
    margin: auto;
}

#color-trivia {
    color: rgb(216, 12, 12);
    font-weight: 800;
}

.middle-bar-text {
    color: yellow;
    font-size: 20px;
    border: 1px solid yellow;
    width: 50%;
    margin: auto;
    padding: 10px;
    border-radius: 12px;
}

.special_cat-text {
    font-size: 28px;
    color: yellow;
}

.crew-text {
    font-size: 24px;
    opacity: 0.5;
}

.blurb-text {
    font-size: 24px;
}

.actor-wrapper {
    border: 1px solid white;
    padding: 10px;
    width: 50%;
    margin: 50px auto;
    color: white;
    border-radius: 12px;
}

.notable_act-text {
    font-size: 18px;
    font-weight: 800;
    color: red;
}

.actor-text {
    font-size: 24px;
}

.review-img-text {
    font-size: 60px;
    color:rgb(196, 20, 0);
}

.review-wrapper {
    width: 75%;
    margin: auto;
    text-align: justify;
    font-size: 20px;
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 98, 0));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ::-webkit-scrollbar {
    width: 10px;
    background: rgb(255, 255, 255, 0);
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: rgb(225, 225, 225);
    border-radius: 15px;
}

::-webkit-scrollbar-track {
    margin: 50px 0px;
}

::-webkit-scrollbar-corner {
    display: none;
} */