@media screen and (max-width: 650px) {
    #search__id {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #btn__id, #feeling-lazy {
        height: 50px;
        width: auto;
        margin: 10px auto 20px auto;
    }

    #head_title {
        font-size: 24px;
    }

    .title-wrap {
        height: 500px;
    }

    .intro-text {
        display: none;
    }

    #intro_resp {
        display: block;
    }

    #clear_box {
        font-size: 14px;
    }

}

@media screen and (max-width: 900px) {
    #resp_seal-wrap {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 500px) {
    #resp_seal-wrap {
        width: 50px;
        height: 50px;
    }
}

.header-wrapper {
    width: 100%;
    background-color: #101010;
    border-radius: 0px 0px 8px 8px;
    color: white;
}

.seal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    width: 200px;
    height: 200px;
    background-image: url('../../img/Golden_Seal.png');
    background-size: contain;
    z-index: 1;
}

.header-title {
    font-size: 72px;
    text-align: center;
    padding: 20px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
}

.title-wrap {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.intro-text {
    width: 50%;
    text-align: center;
    padding: 20px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
}

.intro-mob {
    display: none;
    width: 90%;
    padding: 10px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    text-align: center;
    margin: 0;
    font-size: 12px;
}

.search-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.search-box {
    width: 50%;
    height: 50px;
    border-radius: 5px;
    background-color: #0C0C0C;
    border: 2px ridge rgb(255, 0, 162);
    font-size: 24px;
    color: rgb(255, 0, 162);
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 600;
}

.search-box:focus {
    outline-style: auto;
    outline-color: rgb(255, 0, 162);
}

.sort-btn {
    width: 50px;
    border: 3px double rgb(255, 255, 255);
    color: white;
    border-radius: 8px;
    margin: 0px 5px;
    background-color: rgb(40, 40, 40);
    font-family: 'Fira Code', sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sort-btn:hover {
    border: 3px double rgb(255, 0, 162);
    background-color: rgb(80, 80, 80);
    color: rgb(222, 222, 222);
}

.btn-wrap {
    display: flex;
}

#feeling-lazy {
    width: 150px;
}