@media screen and (max-width: 650px) {
    .display-results-wrapper {
        justify-content: center;
    }
}

@media screen and (max-width: 400px) {
    #gen-list__id {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.core-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(21, 21, 21);
    border-top-style: groove;
    border-top-width: 5px;
    border-top-color: rgb(255, 0, 162);
}

.display-genre-wrapper {
    display: flex;
    flex-direction: column;

}

.genre-list-wrapper {
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    overflow: scroll;
    border: 2px groove rgb(17, 0, 128);
    border-left-style: none;
    border-right-style: none;
    padding: 20px 0px;
}

.genre-title {
    font-size: 40px;
    margin-left: 20px;
}

.display-results-wrapper {
    background-color: rgb(21, 21, 21);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px ridge purple;
    border-left-style: none;
    border-right-style: none;
    padding: 50px 0px;
}