.header-wrapper {
    width: 100%;
    background-color: #101010;
    border-radius: 0px 0px 8px 8px;
    color: white;
}

.header-title {
    font-size: 72px;
    text-align: center;
    padding: 20px;
    background-color: rgb(0,0,0, 0.5);
    border-radius: 12px;
}

.title-wrap {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.intro-text {
    width: 50%;
    text-align: center;
    padding: 20px;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 12px;
}

.search-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.search-box {
    width: 50%;
    height: 50px;
    border-radius: 5px;
    background-color: #0C0C0C;
    border: 2px ridge rgb(255, 0, 162);
    font-size: 24px;
    color: rgb(255, 0, 162);
    text-align: center;
}

.search-box:focus {
    outline-style: auto;
    outline-color: rgb(255, 0, 162);
}

.sort-btn {
    width: 50px;
    border: 3px double rgb(255, 255, 255);
    color: white;
    border-radius: 8px;
    margin: 0px 5px;
    background-color: rgb(40, 40, 40);
}

.sort-btn:hover {
    border: 3px double rgb(255, 0, 162);
    background-color: rgb(80, 80, 80);
    color: rgb(222, 222, 222);
}